.nav-link:hover,
.nav-link.active:hover {
  color: #1f70eb !important;
  transition: color 0.3s;
}
a {
  text-decoration: none;   
}
.appStoreBadge:hover {
  opacity: 0.75;
}
.googlePlayBadge:hover {
  opacity: 0.75;
}